@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

#container{
    width: 100%;
    height: 1100px;

    background-image: url(imagens/seila.png);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#regras{
    background-color: #FFFCF6;

    width: 85%;
    height: 780px;
    border-radius: 5px;
    padding: 20px;

    color: rgb(25, 102, 138);

    font-family: "League Spartan", sans-serif;
}

#container img{
    width: 50%;
    margin-bottom: 50px;
}

footer{
    padding: 0px 60px;
    font-family: "League Spartan", sans-serif;

    color: rgb(255, 255, 255);
    font-size: 14px;
}